<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learning Angular</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>


  <body>
    <h5 style="text-align:right;padding-right:8px;"><a href="https://docs.angularjs.org/api/" target="_blank">Learning AngularJS</a></h5>

    <!--
    /**
     * View in the sense of the MVC-pattern
     */
    -->
    <div data-ng-app="flug"> <!-- Bind onto module via directive -->
      <div data-ng-controller="FlugBuchenCtrl"> <!-- Bind onto controller via directive -->
        <!-- Besides via attribute, directives also can be bound via tag, class or even comment
          example tag      : <my-dir></my-dir>
          example attribute: <span my-dir="exp"></span> // Most wideley used
          example comment  : <!-- directive: my-dir exp -- >
          example class    : <span class="my-dir: exp;"></span>
        -->
        <div class="container">

          <h2>Flug auswählen</h2>
          <div data-ng-show="vm.message" class="message">
            {{ vm.message }}
          </div>

          <div class="form-group">
            <label>Flugnummer</label>
            <input data-ng-model="vm.flugNummerFilter" class="form-control" title="" />
          </div>

          <div class="form-group">
            <label>Von</label>
            <input data-ng-model="vm.flugVonFilter" class="form-control" title="" />
          </div>

          <div class="form-group">
            <label>Nach</label>
            <input data-ng-model="vm.flugNachFilter" class="form-control" title="" />
          </div>

          <div class="form-group">
            <input type="button" value="Suchen" data-ng-click="vm.loadFluege()" class="btn" />
          </div>

          <div>
            <table data-ng-show="vm.fluege.length > 0" class="table table-striped">
              <tr>
                <th>Id</th>
                <th>Datum</th>
                <th>Abflugort</th>
                <th>Zielort</th>
                <th>Aktion</th>
              </tr>

              <tr data-ng-repeat="f in vm.fluege" data-ng-class="{ info: f.id === vm.selectedFlug.id }">
                <td>{{f.id}}</td>
                <td>{{f.datum | date:'shortDate'}}</td> <!-- After pipe: filter -->
                <td>{{f.abflugort}}</td>
                <td>{{f.zielort}}</td>
                <td><a href="" data-ng-click="vm.slectFlug(f)">Auswählen</a></td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
    <!--
      Known directives + explanation
      ------------------------------
      ng-app        -> module
      ng-controller
      ng-show
      ng-hide
      ng-bind       -> 1-way-databinding
      ng-model      -> 2-way-databinding
      ng-click
      ng-change
      ng-blur
      ng-focus
      ng-checked
      ng-repeat
      ng-class      -> css-class (depending on condition)
    -->
  </body>

  <script>
    // AngularJS strukturiert Anwendungen anhand von Modulen
    // Ein Modul kapselt wiederverwendbare Programmteile und Konfigurationsinformationen
    // Zu diesen Programmteilen zählen Controller im Sinne des MVC-Musters. Bei Controllern
    // handelt es sich unter AngularJS um Einheiten, welche Models (bzw. View-Models) bereitstellen
    // Eine View kümmert sich in weiterer Folge um deren Visualsierung.
    // Bereitstellung eines Moduls mit einem Controller:
    var app = angular.module('flug', []); // 'Modulname', [] mit zu importierenden Modulen // 'ng' is imported by default

    /**
     * Add a (fixed) constant to the app
     */
    app.constant("baseUrl", "http://www.angular.at/api/flug");

    /**
     * Add a (changeable) value to the app
     */
    app.value("myValue", { userId:4711, userName: "Susi"});

    /**
     * Add a configuration to the app
     */
    app.config(function($logProvider) { // = configuration-function // can only request service-providers
      $logProvider.debugEnabled(false);
    });

    /**
     * Add a initialisation-function to the app
     */
    app.run(function($log) { // = initialisation-function // can request services (but not a scope)
      $log.debug('Debug messages are enabled');
      $log.info('App started');
    });


    /**
     * Controller in the sense of the MVC-pattern - will provide a model respectively a view-model
     */
    // AngularJS treats parameters as dependendencies and calls them "Services"
    // Second param of app.controller() is the controller-constructorfunction (will provide a model-object to bind it to the view)
    app.controller('FlugBuchenCtrl', function($scope, $http, baseUrl) { // "wellknown names" (AngularJS will inject the dependencies)
        // List of "Services" (= dependencies = wellknown Names)
        // 1) The $scope is the model of the MVC-pattern
        // 2) $http allows accessing http resources the easy way

// debugger;

      // a controller will provide the (view-)model via its scope
      $scope.vm = new FlugBuchenVM($http, baseUrl); // vm = view-model
      // dedicated view-model vs. self-created view-model
      // $scope.vm = {... loadFluege: function() { ... } ...}; //


      // Refresh databinding manually - unnecessary as long as angular-services like $http are used
      // $scope.$digest();

      // Watch objects
      // $scope.$watch('preis', function(newValue, oldValue) {console.log(newValue, oldValue);} );
    });
    // vs. model-view-viewmodel with controller as
    // app.controller('FlugBuchenCtrl', FlugBuchenVM); // and // <div ng-controller="FlugBuchenVM as vm">

    /**
     * Model respectively view-model.
     */
    function Flug(id, abflugort, zielort, datum) {
      this.id = id;
      this.abflugort = abflugort;
      this.zielort = zielort;
      this.datum = datum;
    }

    function FlugBuchenVM($http, baseUrl) {
      var that = this;

      this.fluege = [];

      this.selectedFlug = null;

      this.message = "";
      this.flugNummerFilter = "";
      this.flugVonFilter = "";
      this.flugNachFilter = "";

      //noinspection JSUnusedGlobalSymbols
      this.loadFluege = function() {
        var params = {};

        if (that.flugNummerFilter) {
          params = {
            flugNummer: that.flugNummerFilter
          };
        } else {
          params = {
            abflugOrt: that.flugVonFilter,
            zielOrt: that.flugNachFilter
          };
        }

        $http.get(baseUrl, { params : params})
          .then(function(result) {
            if (angular.isArray(result.data)) {
              that.fluege = result.data;
            } else {
              that.fluege = [result.data]
            }
          })
          .catch(function(/** @type {{data}} */result) {
            var extraMsg;
            if (result.data && result.data.message) {
              extraMsg =  ", " + result.data.message;
            }
            that.message = "Fehler: " + result.status + " " + result.statusText + extraMsg;
          });

        // Fallback if server is down:
        // that.fluege.push(new Flug(1, "Graz", "Essen", new Date()));
        // that.fluege.push(new Flug(2, "Graz", "Frankfurt", new Date()));
      };

      this.selectFlug = function(f) {
        that.selectedFlug = f;
      }
    }

    /**
     * Further pro-tips
     * 1) enable one-time-binding with :: e. g.: <h1>{{::model.title}}</h1>
     */
  </script>
</html>
