<!DOCTYPE html>
<!--suppress JSUnusedGlobalSymbols -->
<!--suppress JSUnresolvedLibraryURL -->
<html>
<head>
  <meta charset="utf-8">
  <title>Backend-lose Entwicklung mit ngMockE2E</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-mocks.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
</head>


<body data-ng-app="ngResourceDemo" data-ng-controller="MainCtrl">
  <nav>
    <button data-ng-click="service.addNewTicket()">Neues Ticket anlegen</button>
    <button data-ng-click="service.loadAllTickets()">Alle Tickets laden</button>
    <div>
      <input type="text" data-ng-model="ticketToSearch" title="" />
      <button data-ng-click="service.loadTicketById(ticketToSearch)">Lade Ticket</button>
    </div>
  </nav>

  <div class="ticket" data-ng-repeat="ticket in service.getTickets()">
    <button data-ng-click="service.saveTicket(ticket)">Speichern</button>
    <button data-ng-click="service.deleteTicket(ticket)">Löschen</button>
    <h3>({{ticket.id}}) <input data-ng-model="ticket.title" title="" /></h3>
    <span class="assigned-to">
      Zugeordnet zu: <input data-ng-model="ticket.assignedTo" title="" />
    </span>
    <span class="percentage-complete">
      Erledigt %: <input data-ng-model="ticket.percentageComplete" title="" />
    </span><br />
    <textarea data-ng-model="ticket.description" class="description" title=""></textarea>
  </div>

</body>
<script>
  "use strict";

  var app = angular.module('ngResourceDemo', ['ngResource', 'ngMockE2E']); // use existing modules

  app.constant('baseUrl', '/ticket/:id');

  app.factory('TicketService', function($resource, baseUrl) {
    // den $resource-Service initialisieren
    var TicketResource = $resource(baseUrl);

    // Ticket-Container für bereits geladene Tickets
    var tickets = [];

    var loadAllTickets = function() {
      TicketResource.query(function(data) {
        tickets = data;
      });
    };

    var loadTicketById = function(id) {
      if (!id || !angular.isNumber(parseInt(id, 10))) {
        return;
      }

      // Alternatives Beispiel: Zugriff auf das Promise des zugrundeliegenden $http-Services
      TicketResource.get({id: id}).$promise.then(function(ticket) {
        tickets = [ticket];
      });
    };

    // weird stuff - using $save on ticket?!
    var saveTicket = function(ticket) {
      ticket.$save();
    };

    var addNewTicket = function() {
      var newTicket = new TicketResource({
        id: 0,
        title: 'Neues Ticket',
        assignedTo: 'Niemand',
        description: 'Ticket Nachricht hier einfügen',
        percentageComplete: 0
      });

      newTicket.$save(function(repliedTicket) {
        tickets.unshift(repliedTicket);
      });
    };

    var deleteTicket = function(ticket) {
      TicketResource.delete({id:ticket.id}, function() {
        var pos = _.indexOf(_.map(tickets, 'id'), ticket.id);
        tickets.splice(pos, 1);
      });
    };


    // Revealing Module Pattern
    return {
      getTickets: function() {
        return tickets;
      },
      loadAllTickets: loadAllTickets,
      loadTicketById: loadTicketById,
      saveTicket: saveTicket,
      addNewTicket: addNewTicket,
      deleteTicket: deleteTicket
    };
  });


  app.run(function($httpBackend) {
    // Beispielhafte Ticket-Entität
    var ticket = function(id,title,assignedTo,description,percentageComplete) {
      this.id = id;
      this.title = title;
      this.assignedTo = assignedTo;
      this.description = description;
      this.percentageComplete = percentageComplete;
    };

    // Exemplarische Datenbank mit Sammlung von Tickets
    var tickets = [
      new ticket('1','Fehlende Exception','Max Mustermann','Methode x liefert keine Exception im Fehlerfall Z', 0),
      new ticket('2','Ticket-Service einbinden','Max Mustermann','Fehler sollen im Ticket-service protokolliert werden', 0),
      new ticket('3','AngularJS updaten','Max Mustermann','Es soll auf die Version 1.5.7 aktualisiert werden', 0),
      new ticket('4','Rahmen fehlt','Susi Sorglos','Das div.demo hat keine border definiert', 0),
      new ticket('5','Responsive Grid einführen','Susi Sorglos','Die Applikation sollte ein Responsive Grid verwenden', 0)
    ];

    // Regex-Ausdruck um auf das Vorhandensein des ID Parameters abzuprüfen
    var regexGetTicket = new RegExp('/ticket/([0-9]+)');

    // REST-Endpoint 1: Alle Tickets retournieren
    // GET: /ticket
    $httpBackend.whenGET('/ticket').respond(tickets);

    // REST-Endpoint 2: Ein Ticket mittels übereinstimmender ID retournieren
    // GET: /ticket/:id
    $httpBackend.whenGET({ test: function(url) { return regexGetTicket.test(url)}}).respond(function(method, url) {
      var id = url.match(regexGetTicket)[1];
      var match = _.find(tickets, function(t) {
        return t.id === id;
      });

      return match === undefined ? [404, 'Not found'] : [200, match];
    });

    // REST-Endpoint 3: Hinzufügen oder Überschreiben eines Tickets
    // POST: /ticket
    $httpBackend.whenPOST('/ticket').respond(function(method, url, data) {
      var newTicket = angular.fromJson(data);
      var existingTicket = _.find(tickets, function(t) {
        return t.id === newTicket.id;
      });

      if (existingTicket) {
        _.extend(existingTicket, newTicket);
        return [200, existingTicket, {}];
      } else {
        newTicket.id = parseInt(_.max(tickets, function(t) {
          return t.id;
        }).id || 0, 10) + 1 + '';
      }

      tickets.push(newTicket);
      return [200, newTicket];
    });

    // REST-Endpoint 4: Löschen eines Tickets
    // DELETE: /ticket/:id
    $httpBackend.whenDELETE({test: function(url) { return regexGetTicket.test(url); }}).respond(function(method, url) {
      var id = url.match(regexGetTicket)[1];
      var match = _.find(tickets, function(t) {
        return t.id === id;
      });

      var pos = _.indexOf(_.map(tickets, 'id'), id);
      tickets.splice(pos, 1);

      return match === undefined ? [404, 'Not found'] : [200, match];
    });

    console.log('Backend-Attrape aktiv!');
  });


  app.controller('MainCtrl', function($scope, TicketService) {
    $scope.service = TicketService;
    $scope.ticketToSearch = '';
  });


  console.log('through');
</script>
</html>